# S3 and Data Handling
s3fs
pyarrow
fastparquet
duckdb
pandas
sqlalchemy
boto3

# PostgreSQL Support
psycopg2-binary

# Kafka Streaming
confluent-kafka

# Parallel Processing
threading

# Apache Spark (Optional: Only if needed for large-scale data processing)
pyspark
